<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="MIIS:SiteTitle" value ="MIIS *-folio template"/>
    <!-- <add key="MIIS:UseEmoji" value="0" /> -->
    <add key="MIIS:TemplateName" value="-folio"/>
    <add key="MIIS:Layout" value="page.html"/>
    <add key="MIIS:nav" value="~/nav.md"/>
    <add key="MIIS:LogoText" value="📄 *-folio"/>
    <!-- Default image for social sharing-->
    <add key="MIIS:Image" value="images/defimage.png"/>
    <!-- Copyright or phrase for the footer (HTML encoded) -->
    <add key="MIIS:Copyright" value="Powered by &lt;a target=&apos;blank&apos; href=&apos;https://miis.azurewebsites.net/&apos;&gt;MIIS&lt;/a&gt;"/>

    <!-- Social media icon handlers -->
    <add key="MIIS:email" value="noone@xit.xyz"/>
    <add key="MIIS:GithubId" value="xit"/>
    <add key="MIIS:LinkedinID" value="xit"/>
    <add key="MIIS:YoutubeId" value="/user/xit"/>
    <add key="MIIS:TwitterId" value="xit"/>
    <add key="MIIS:ContactCaption" value="The best way to contact me is through email" />

    <!-- Google analytics account id -->
    <add key="MIIS:ga-id" value="123456"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
  </system.web>
  <system.webServer>
    <handlers>
      <add name=".md extension" path="*.md" verb="GET" type="MIISHandler.MIISHandler, MIISHandler" resourceType="File" requireAccess="Read"/>
      <add name=".mdh HTML extension" path="*.mdh" verb="GET" type="MIISHandler.MIISHandler, MIISHandler" resourceType="File" requireAccess="Read"/>
    </handlers>
    <defaultDocument enabled="true">
      <files>
        <add value="index.md"/>
        <add value="index.mdh"/>
      </files>
    </defaultDocument>
    <validation validateIntegratedModeConfiguration="false"/>
    <httpErrors errorMode="Custom">
      <remove statusCode="404"/>
      <error statusCode="404" path="/_404error.md" responseMode="ExecuteURL"  />
    </httpErrors>
    <rewrite>
      <rules>
        <rule name="RemoveTrailingSlashRule" stopProcessing="true">
          <match url="(.*)/$" />
          <conditions>
              <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
              <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
              <add input="{URL}" pattern=".*/[^.]*\.[\d\w]+$" negate="true" />
          </conditions>
          <action type="Redirect" url="{R:1}" />
        </rule>
        <rule name=".md files without extension" stopProcessing="true">
          <match url="^(.*)$" />
          <conditions logicalGrouping="MatchAll">
              <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
              <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
              <add input="{REQUEST_FILENAME}.md" matchType="IsFile" />
          </conditions>
          <action type="Rewrite" url="{R:0}.md" />
        </rule>
        <rule name=".mdh files without extension" stopProcessing="true">
          <match url="^(.*)$" />
          <conditions logicalGrouping="MatchAll">
              <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
              <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
              <add input="{REQUEST_FILENAME}.mdh" matchType="IsFile" />
          </conditions>
          <action type="Rewrite" url="{R:0}.mdh" />
        </rule>
      </rules>
   </rewrite>
  </system.webServer>

</configuration>